        body {
            background-color: #0F172A;
            font-family: "Roboto", sans-serif;
            color: #F1F5F9;
        }

        nav {
            min-width: 100vw;
            height: 5vh;
            display: grid;
            grid-auto-flow: column;
            padding-top: 4vh;
        }

        nav a {
            font-size: x-large;
            text-decoration: none;
        }

        a {
            font-family: "Roboto", sans-serif;
            color: #F1F5F9;
            text-decoration: underline;
            text-underline-offset: 5px;
        }

        nav a:hover {
            text-decoration: underline;
        }

        a:hover {
            cursor: pointer;
        }

        nav .left {
            display: flex;
            justify-self: left;
            padding-left: 4vw;
            font-weight: bold;
        }

        nav .right {
            display: grid;
            justify-self: right;
            grid-auto-flow: column;
            column-gap: 4vw;
            padding-right: 4vw;
        }

        .mainContainer {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .button {
            border: 3px solid #475569;
            background-color: #1E293B;
            color: #94A3B8;
            min-width: 7vw;
            min-height: 3vh;
            border-radius: 5%;
            padding-inline: 10px;
            text-decoration: none;
        }

        bold {
            font-weight: 600;
        }